<span class="message"></span>

<form class="form-search" action="./find" method ="POST">
  <div class="well">
    <fieldset>
      <legend>find</legend>
      <div class="inputs"></div>
      <input class="btn btn-primary create" type="submit" value="find"/>
    </fieldset>
  </div>
</form>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th style="width: 70%">id</th>
      <th style="width: 15%"> </th>
      <th style="width: 15%"> </th>
    </tr>
  </thead>
  <tbody class="records">
    <tr>
      <td><a href="/resource/1">1</a></td>
      <td><a href="/resource/1/update">Update</a></td>
      <td><a href="/resource/1/destroy">Destroy</a></td>
    </tr>
  </tbody>
</table>
