<form class="form-get" action="./get" method ="POST">
  <div class="well">
    <fieldset>
      <legend>Resource Form</legend>
      <div class="inputs"></div>
      <input class="btn btn-primary create" type="submit" value="create"/>
    </fieldset>
  </div>
</form>

<span class="message"></span>

<a class="edit" href="./update">Edit</a>&nbsp;<a class="destroy" href="./destroy">Destroy</a>
<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 30%"></th>
      <th style="width: 70%"></th>
    </tr>
  </thead>
  <tbody class="records">
    <tr>
      <td>prop</td>
      <td>name</td>
    </tr>
  </tbody>
</table>
