<form class="form-get" action="./get" method ="POST">
  <div class="well">
    <fieldset>
      <legend>Resource Form</legend>
      <div class="inputs"></div>
      <input class="btn btn-primary create" type="submit" value="create"/>
    </fieldset>
  </div>
</form>

<div class="well message">
  <h2></h2>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 20%">&nbsp;</th>
      <th style="width: 80%">&nbsp;</th>
    </tr>
  </thead>
  <tbody class="records">
    <tr>
      <td>prop</td>
      <td>name</td>
    </tr>
  </tbody>
</table>
