<div class="container">
  <h1>Hooks</h1>

  <div class="row">
    <div class="span12">
      <div class="well">
        <div>
          Hooks are used to link resource methods together. <strong>If</strong>
          a given method is called, <strong>then</strong> a hook will pass the
          output of that method to a second given method.

          <!--Optionally, the second method may be called <strong>with</strong>
          object properties which will be merged with the output of the first
          hook.-->

          For example, the hook "<em><strong>if</strong> account::create <strong>then</strong> email::send</em>" will call
          the "email.send" method with the output of "account.create" whenever
          that method is called.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <form action="/admin/resources/hook/create" method="post">
        <table class="table table-bordered">
          <tr>
            <th>if</th>
            <th>then</th>
          </tr>
          <tr>
            <td><select name="if" id="if"></select></td>
            <td><select name="then" id="then"></select></td>
            <td><input type="submit" class="btn" value="create hook"/></td>
          </tr>
        </table>
      </form>
      <table class="table table-bordered hooks">
        <tr>
          <th>if</th>
          <th>then</th>
          <th>edit</th>
        </tr>
      </table>

    </div>
  </div>

</div>
