<div class="container">
  <h1>Hooks</h1>

  <div class="row">
    <div class="span12">
      <div class="well">
        <div>
          What are hooks?
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <form action="/admin/resources/hook/create" method="post">
        <table class="table table-bordered">
          <tr>
            <th>if</th>
            <th>then</th>
          </tr>
          <tr>
            <td><select name="if" id="if"></select></td>
            <td><select name="then" id="then"></select></td>
            <td><input type="submit" class="btn" value="create hook"/></td>
          </tr>
        </table>
      </form>
      <table class="table table-bordered hooks">
        <tr>
          <th>if</th>
          <th>then</th>
          <th>edit</th>
        </tr>
      </table>

    </div>
  </div>

</div>
