<div class="container">
  <a class="back" href="./">back to resource</a>
  <h1>resource - method</h1>

  <div class="row">
    <div class="span12">
      <div class="form"></div>
    </div>
  </div>

  <div class="schemaHolder">
    <div class="row">
      <div class="span12">
        <div class="schema">resource schema</div>
      </div>
    </div>
  </div>

  <div class="codeHolder">
    <div class="row">
      <div class="span12">
        <h2>code</h2>
        <pre><code class="method"></code></pre>
      </div>
    </div>
  </div>

</div>
