<div class="container">
  <h1>Replicator</h1>

  <div class="row">
    <div class="span12">
      <div class="well">
        What is the replicator?
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <!--
      <h3>push</h3>
      <div>push this big instance to another server</div>

      <h3>pull</h3>
      <div>pull another big instance to this server</div>
      -->
      <h3>replication log</h3>
      <table class="table table-bordered">
      </table>
    </div>
  </div>
</div>
