<div class="container">
  <a href="/admin/resources">back to resources</a>
  <h1 class="name">resource name</h1>

  <div class="resource">

    <div class="row">
      <div class="span12">
        <div class="well">
          <span class="description">the description goes here</span>
        </div>
      </div>
    </div>

    <div class="datasources">
      <div class="row">
        <div class="span12">
          <div>
            <div class="datasource"></div>
          </div>
        </div>
      </div>
    </div>

    <h2>methods</h2>
    <div class="row">
      <div class="span12">
        <table class="methods table table-bordered">
          <tr>
            <th style="width: 20%">method</th>
            <th style="width: 80%">description</th>
          </tr>
        </table>
      </div>
    </div>

    <div class="deps">
      <h2>dependencies</h2>
      <div class="row">
        <div class="span12">
          <table class="table table-bordered dependencies">
            <tr>
              <th style="width: 20%">package</th>
              <th style="width: 80%">version</th>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="schema">
      <h2>schema</h2>
      <div class="properties">resource schema</div>
    </div>

    <!--
      <div class="source">
        <h2>source</h2>
        <div class="row">
          <div class="span8">
            <div class="well">
              <i>
                <a href="https://github.com/bigcompany/resources/tree/master/creature">https://github.com/bigcompany/resources/tree/master/creature</a>
              </i>
            </div>
          </div>
        </div>
      </div>
    -->

  </div>


</div>
