<div class="container">
  <a href="/admin/resources">back to resources</a>
  <h1 class="name">resource name</h1>

  <span class="description">the description goes here</span>

  <h2>methods</h2>
  <div class="row">
    <div class="span12">
      <table class="methods table table-bordered">
        <tr>
          <th style="width: 20%">method</th>
          <th style="width: 80%">description</th>
        </tr>
      </table>
    </div>
  </div>

  <div class="deps">
    <h2>dependencies</h2>
    <div class="row">
      <div class="span8">
        <div class="well">
          <div class="dependencies">npm dependencies</div>
        </div>
      </div>
    </div>
  </div>

  <div class="datasources">
    <h2>datasource</h2>
    <div class="row">
      <div class="span8">
        <div class="well">
          <div class="datasource"></div>
        </div>
      </div>
    </div>
  </div>

  <h2>schema</h2>
  <pre><code><div class="schema">resource schema</div></pre></code>

  <h2>source</h2>
  <div class="row">
    <div class="span8">
      <div class="well">
        <i>
          <a href="https://github.com/bigcompany/resources/tree/master/creature">https://github.com/bigcompany/resources/tree/master/creature</a>
        </i>
      </div>
    </div>
  </div>



</div>
